.pic1 {
    background-image: url(/assets/aing.png);
    opacity: 0.95;
    background-position: center center;
    background-size: cover;
    width: -webkit-fill-available;
    height: 225px;
    border-radius: 16px;
}
.pic2 {
    background-image: url(/assets/yee.jpg);
    opacity: 0.95;
    background-position: center center;
    background-size: cover;
    width: -webkit-fill-available;
    height: 225px;
    border-radius: 16px;
}

.row {
    justify-content: center;
}

.card-body {
    background-color: #353535;
    border-radius: 16px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: all 0.3s ease;
}

.card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}