.pic2 {
    background-image: url(/assets/yee.jpg);
    opacity: 0.95;
    background-position: center center;
    background-size: cover;
    width: -webkit-fill-available;
    height: 225px;
    border-radius: 16px;
}
.row {
    justify-content: center;
}
.card-body {
    background-color: #353535;
    border-radius: 16px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: all 0.3s ease;
}
.card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
/* next page to member */
.ctaM {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    text-decoration: blink;
}

.ctaM:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #fc9e01;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.ctaM span {
    color: #000;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.ctaM svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.ctaM:hover:before {
    width: 100%;
    background: #ffb642;
}

.ctaM:hover svg {
    transform: translateX(0);
}

.ctaM:active {
    transform: scale(0.96);
}
/* -------About Group--------- .*/

.a {
    color: #8b62bf;
    text-decoration: blink;
}

.a:hover {
    color: #ff6723;
    text-decoration: blink;
}